<ul>
	<li><a href="{{ site.github.url }}/index.html">Profil</a></li>
	<li><a href="{{ site.github.url }}/cv.html">Curriculum Vitae</a></li>
	<li><a href="{{ site.github.url }}/publications.html">Publikationen</a></li>
	<li><a href="{{ site.github.url }}/conferences.html">Konferenzen</a></li>
	<li><a href="{{ site.github.url }}/teaching.html">Lehre</a></li>
	<li><a href="{{ site.github.url }}/abroad.html">Auslandsauf.</a></li>
	<li><a href="{{ site.github.url }}/contact.html">Kontakt</a></li>
</ul>